<div class="container">

    <h2><%= @artist.name %></h2>
    <h3>Top Tracks</h3>

    <table class="table">
      <thead>
        <tr>
          <td>Track</td>
          <td>Album</td>
          <td>Play It</td>
        </tr>
      </thead>

      <tbody>
        <% @top_tracks.each do |track| %>
        <tr>
          <td><%= track.name %></td>
          <td><%= track.album['name'] %></td>
          <td><iframe src="https://embed.spotify.com/?uri=<%= track.uri %>&theme=white" width="250" height="80" frameborder="0" allowtransparency="true"></iframe></td>
        </tr>
      <% end %>

    </tbody>
  </table>

</div>
