<div class="jumbotron">

  <h1 class="site-title">Musical Memory</h1>
  <h2>
  </h2>

</div>
<% if current_user %>
  <%= link_to "Browse Categories", categories_path, class: "btn btn-primary" %>
<% end %>
