<div class="container">
  <h2><%= @presenter.find(params[:id])["name"] %> Playlists</h2>
</div>

<%= react_component 'CategoryPlaylists', { categoryPlaylists: @presenter.category_playlists(params[:id]) } %>
