
<!-- <div class = "container">
  <div class="row pull-right">
      <form class="form-inline">
        <label>New Playlist</label>
        <input class="form-control" type="text" id="new-playlist-name" placeholder="Playlist Name">
        <button class="btn btn-success btn-xs" id="create-playlist-button" type="button" name="button">Create</button>
      </form>
  </div>
</div> -->

<%= react_component 'Playlists', { playlists: @playlists} %>
