<div class="container suggestions-container">
  <h2>Find the Perfect Music</h2>
</div>

<div class="col-md-12">

<%= react_component 'SuggestionsSearchGenre', {genres: @presenter.genres} %>

  <% if @presenter.suggestions_from_genre %>
    <%= react_component 'SuggestionsGenre', {genre: @presenter.genre, genreSuggestions: @presenter.suggestions_from_genre} %>
  <% end %>

<%= react_component 'SuggestionsSearchDecade', {decades: @presenter.decades} %>

  <% if @presenter.suggestions_from_decade %>
    <%= react_component 'SuggestionsDecade', {decade: @presenter.decade, decadeSuggestions: @presenter.suggestions_from_decade} %>
  <% end %>

</div>
