<div class="row">
  <div class="col-md-6 browse">
    <h2> Browse Categories</h2>
    <div>
      <ul id="browse-categories"></ul>
    </div>

  </div>

  <div class="col-md-6 browse">
    <h2> Browse
    </h2>
  </div>

</div>
